<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boom(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{386,448},{76,100}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,15},{76,100}}</string>
                <key>sourceSize</key>
                <string>{230,182}</string>
            </dict>
            <key>boom(10).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{156,138}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,15},{156,138}}</string>
                <key>sourceSize</key>
                <string>{230,182}</string>
            </dict>
            <key>boom(11).png</key>
            <dict>
                <key>frame</key>
                <string>{{332,124},{154,138}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,15},{154,138}}</string>
                <key>sourceSize</key>
                <string>{230,182}</string>
            </dict>
            <key>boom(12).png</key>
            <dict>
                <key>frame</key>
                <string>{{170,118},{160,144}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,10},{160,144}}</string>
                <key>sourceSize</key>
                <string>{230,182}</string>
            </dict>
            <key>boom(13).png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{164,120}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,30},{164,120}}</string>
                <key>sourceSize</key>
                <string>{230,182}</string>
            </dict>
            <key>boom(14).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,120}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,30},{166,120}}</string>
                <key>sourceSize</key>
                <string>{230,182}</string>
            </dict>
            <key>boom(15).png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,114}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,35},{166,114}}</string>
                <key>sourceSize</key>
                <string>{230,182}</string>
            </dict>
            <key>boom(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{430,264},{88,108}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,11},{88,108}}</string>
                <key>sourceSize</key>
                <string>{230,182}</string>
            </dict>
            <key>boom(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{430,354},{104,92}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,31},{104,92}}</string>
                <key>sourceSize</key>
                <string>{230,182}</string>
            </dict>
            <key>boom(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{146,418},{122,102}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,25},{122,102}}</string>
                <key>sourceSize</key>
                <string>{230,182}</string>
            </dict>
            <key>boom(5).png</key>
            <dict>
                <key>frame</key>
                <string>{{250,416},{134,112}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,21},{134,112}}</string>
                <key>sourceSize</key>
                <string>{230,182}</string>
            </dict>
            <key>boom(6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{142,122}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,18},{142,122}}</string>
                <key>sourceSize</key>
                <string>{230,182}</string>
            </dict>
            <key>boom(7).png</key>
            <dict>
                <key>frame</key>
                <string>{{298,264},{150,130}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,15},{150,130}}</string>
                <key>sourceSize</key>
                <string>{230,182}</string>
            </dict>
            <key>boom(8).png</key>
            <dict>
                <key>frame</key>
                <string>{{154,264},{150,142}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,7},{150,142}}</string>
                <key>sourceSize</key>
                <string>{230,182}</string>
            </dict>
            <key>boom(9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{150,152}}</string>
                <key>offset</key>
                <string>{8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{150,152}}</string>
                <key>sourceSize</key>
                <string>{230,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameBoom.png</string>
            <key>size</key>
            <string>{542,542}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f2d5020fef4289283c4640c28e74427:3c29a981c437528a3605223de33f82e7:3d542f4d2061b96d77e5d1d7910e9751$</string>
            <key>textureFileName</key>
            <string>gameBoom.png</string>
        </dict>
    </dict>
</plist>
