<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,489},{27,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,21}}</string>
                <key>sourceSize</key>
                <string>{27,21}</string>
            </dict>
            <key>arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,489},{27,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,21}}</string>
                <key>sourceSize</key>
                <string>{27,21}</string>
            </dict>
            <key>best racopd.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,78},{76,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,43}}</string>
                <key>sourceSize</key>
                <string>{76,43}</string>
            </dict>
            <key>character_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,79},{74,64}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,64}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>character_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,391},{64,56}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{64,56}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>goldbuy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{75,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,16},{75,70}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>goldbuy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{89,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{89,78}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>goldbuy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{79,78}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>goldbuy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{85,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,13},{85,76}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>goldbuy5.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,164},{73,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{73,76}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>goldbuy6.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,411},{73,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{73,76}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>goldbuydollor.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,474},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>guidearrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,162}}</string>
                <key>sourceSize</key>
                <string>{51,162}</string>
            </dict>
            <key>ico_style87.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,474},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{88,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,78}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>moregame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,327},{62,58}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{62,58}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>moregame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,219},{54,52}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{54,52}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>musicoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,415},{45,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,56}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>musicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,275},{45,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,56}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>object_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,418},{73,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{73,82}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>object_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,242},{83,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,22},{83,62}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>object_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,242},{83,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,22},{83,62}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>object_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,327},{73,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,18},{73,68}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>object_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,240},{85,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,26},{85,58}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>object_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,161},{75,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,22},{75,64}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>object_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{81,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{81,74}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>object_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,338},{71,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{71,84}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>object_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{77,78}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{77,78}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>option_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,238},{60,58}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{60,58}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>option_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,361},{52,52}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{52,52}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>petfeed.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,92},{97,70}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{97,70}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>profile_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,402},{70,60}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>profile_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,155},{62,54}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{62,54}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>profilegold.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,123},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>rete_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{74,58}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{74,58}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>rete_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,457},{66,52}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{66,52}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>shophero.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,161},{77,66}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{77,66}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>shopmoregold.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,89},{79,70}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{79,70}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>soundoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,300},{59,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,54}}</string>
                <key>sourceSize</key>
                <string>{59,54}</string>
            </dict>
            <key>soundon.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{59,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,54}}</string>
                <key>sourceSize</key>
                <string>{59,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameIcon.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8af27486fb3e95a6ddb32205fd99d4fd:6c2930cc6953b8c6cccc8d212cb28f4c:bc70d6b088944c1a7f9392e3a4118958$</string>
            <key>textureFileName</key>
            <string>gameIcon.png</string>
        </dict>
    </dict>
</plist>
