<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>middleplane3.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,627},{149,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,123}}</string>
                <key>sourceSize</key>
                <string>{149,123}</string>
            </dict>
            <key>middleplane3_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{149,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,123}}</string>
                <key>sourceSize</key>
                <string>{149,123}</string>
            </dict>
            <key>middleplane3_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{149,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,123}}</string>
                <key>sourceSize</key>
                <string>{149,123}</string>
            </dict>
            <key>officer3_animation1.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,627},{149,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,123}}</string>
                <key>sourceSize</key>
                <string>{149,123}</string>
            </dict>
            <key>officer3_animation10.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,252},{149,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,123}}</string>
                <key>sourceSize</key>
                <string>{149,123}</string>
            </dict>
            <key>officer3_animation11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{149,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,123}}</string>
                <key>sourceSize</key>
                <string>{149,123}</string>
            </dict>
            <key>officer3_animation12.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,127},{149,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,123}}</string>
                <key>sourceSize</key>
                <string>{149,123}</string>
            </dict>
            <key>officer3_animation13.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,127},{149,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,123}}</string>
                <key>sourceSize</key>
                <string>{149,123}</string>
            </dict>
            <key>officer3_animation14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{149,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,123}}</string>
                <key>sourceSize</key>
                <string>{149,123}</string>
            </dict>
            <key>officer3_animation15.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{149,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,123}}</string>
                <key>sourceSize</key>
                <string>{149,123}</string>
            </dict>
            <key>officer3_animation16.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{149,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,123}}</string>
                <key>sourceSize</key>
                <string>{149,123}</string>
            </dict>
            <key>officer3_animation17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,123}}</string>
                <key>sourceSize</key>
                <string>{149,123}</string>
            </dict>
            <key>officer3_animation18.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,627},{149,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,123}}</string>
                <key>sourceSize</key>
                <string>{149,123}</string>
            </dict>
            <key>officer3_animation2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{149,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,123}}</string>
                <key>sourceSize</key>
                <string>{149,123}</string>
            </dict>
            <key>officer3_animation3.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,502},{149,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,123}}</string>
                <key>sourceSize</key>
                <string>{149,123}</string>
            </dict>
            <key>officer3_animation4.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,502},{149,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,123}}</string>
                <key>sourceSize</key>
                <string>{149,123}</string>
            </dict>
            <key>officer3_animation5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{149,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,123}}</string>
                <key>sourceSize</key>
                <string>{149,123}</string>
            </dict>
            <key>officer3_animation6.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,377},{149,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,123}}</string>
                <key>sourceSize</key>
                <string>{149,123}</string>
            </dict>
            <key>officer3_animation7.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,377},{149,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,123}}</string>
                <key>sourceSize</key>
                <string>{149,123}</string>
            </dict>
            <key>officer3_animation8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{149,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,123}}</string>
                <key>sourceSize</key>
                <string>{149,123}</string>
            </dict>
            <key>officer3_animation9.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,252},{149,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,123}}</string>
                <key>sourceSize</key>
                <string>{149,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>middleplane3.png</string>
            <key>size</key>
            <string>{455,929}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5295515f15190fe717aa25e80de681f7$</string>
            <key>textureFileName</key>
            <string>middleplane3.png</string>
        </dict>
    </dict>
</plist>
